<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cts</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        
      
        <mapping class="com.cts.activity.bean.Employee"/>
        <mapping class="com.cts.activity.bean.PermanentEmployee"/>
        <mapping class="com.cts.activity.bean.ContractualEmployee"/>
        <mapping class="com.cts.activity.bean.Person"/>
        <mapping class="com.cts.activity.bean.PassportDetails"/>
        <mapping class="com.cts.activity.bean.Actor"/>
        <mapping class="com.cts.activity.bean.Movie"/>
        <mapping class="com.cts.activity.bean.Developer"/>
        <mapping class="com.cts.activity.bean.Technology"/>
    </session-factory>
</hibernate-configuration>
