<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <table class="table">
        <caption class="text-center h2 text-uppercase" style="caption-side: top;">Users Information</caption>
        <thead>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
          <th>Actions</th>
        </thead>
        <tbody >
          <tr class="hovered" *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>