<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <table class="table">
        <caption class="text-center h2 text-uppercase" style="caption-side: top;">Users Information</caption>
        <thead>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
        </thead>
        <tbody >
          <tr class="hovered" *ngFor="let user of users"
          [class.table-dark]="user === selectedUser"
          (click)="onSelect(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <app-edit-user [user]="selectedUser"></app-edit-user>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <app-practise [user]="selectedUser"></app-practise>
    </div>
  </div>
</div>