<!-- <div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <table class="table">
        <caption class="text-center h2 text-uppercase" style="caption-side: top;">Users Information</caption>
        <thead>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
        </thead>
        <tbody >
          <tr class="hovered" *ngFor="let user of users"
          [class.table-dark]="user === selectedUser"
          (click)="onSelect(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<a routerLink="delivery">Start Delivery Service</a> -->


<!-- <p class="display-1">{{messageFromChild}}</p>
<p class="display-1">{{complaintFromTeacher}}</p>
<h1 *appNotIf="true">True</h1><h1 *appNotIf="false">False</h1> -->


<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <!-- <app-edit-user [user]="selectedUser"></app-edit-user> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <!-- <app-practise [user]="selectedUser" [cars]="cars" (childMessage)="setMessage($event)" (complaint)="setComplaint($this)"></app-practise> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <!-- <app-name-editor></app-name-editor> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <!-- <!-- <app-profile-editor></app-profile-editor> -->
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <app-swiggy></app-swiggy>
    </div>
  </div>
</div>